.list-group {
    width: 100%;
    text-align: center;
}

.row {
    padding:5px;
    width: 100%;
}

.container {
    align-items: center;
}

.main-header {
    h1 {
        font-family: URW Chancery L, cursive;
    }
    .card {
        border: none;
        padding: 0px;
        margin-bottom: 0px;
    }
    .card-body {
        padding: 0px;;
    }
}

.main-component{
    width: 100%
}

.img {
    width:130px;
}



.vesselItems {
    align-items: center;
}

.card {
    margin-right: 10%;
    margin-left:10%;
    margin-top:2%;
    margin-bottom: 2%
}